{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Mes Posts</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>
                                <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-info btn-sm">Show</a>
                                <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('app_post_new') }}">Create new</a>
        </div>
    </div>
</div>

{% endblock %}
